<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Nexum uses your microphone for AI voice input.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Nexum needs access to your local network to connect to SSH servers and devices like Raspberry Pis on your local network.</string>
</dict>
</plist>
